.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60% !important;
}

.form{
    width: 100%;
    padding: 1rem;
}

#backdrop {
    background: url("../Img/Pennies.jpg") center center/cover;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    z-index: -1;
}

#logo {
    background: url("../Img/StockMaverickLogo.png") no-repeat center center/contain;
    width: 150px;
    height: 75px;
    margin-right: 0.75rem;
}

.logoText {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: white !important;
    text-align: center;
    margin: 0 !important;
    font-size: 3.5rem !important;
}

.redText {
    color: #ca312d !important;
}

.textWhite {
    color: white !important;
}

.stockLabel {
    color: white !important;
    display: block;
    padding: 0.5rem;
}

i:not(.headerText){
    color: white !important;
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
}

.headerText {
    color: white !important;
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
}

.btnRed {
    background-color: #CA3939 !important;
    color: black !important;
    width: 100%;
    margin-top: 1rem !important;
}

.btnWhite {
    background-color: white !important;
    color: black !important;
    width: 100%;
    margin-top: 1rem !important;
}

.stockBtns {
    display: flex;
    justify-content: space-between !important;
}

.btnGreenStockModal {
    background-color: #54a86a !important;
    color: black !important;
    width: 30%;
    font-size: 1.5rem;
    height: 100%;
}

.btnRedStockModal {
    background-color: #CA3939 !important;
    color: black !important;
    width: 30%;
    height: 100%;
}

.stockModalInput {
    width: 30%;
    height: 100%;
}

.invalidStockModalInput {
    width: 30%;
    height: 100%;
    border-radius: 0.25rem;
    border: 2px solid #CA3939 !important;
}

.footer {
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     position: fixed;
     bottom: 0;
     right: 0;
     left: 0;
     background: #333;
     padding: 1rem 0;
 }

.navigation {
    background: gray;
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.welcomeUser {
    text-align: center;
}

.navigation > .profileImage {
    margin: 2rem 0  2rem 1rem !important;
    padding: 1rem;
    justify-self: center;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #333;
    padding: 1rem;
}

.btnRedModal {
    background-color: #CA3939 !important;
    color: black !important;
    font-size: 1.5rem !important;
    height: 4rem;
    margin: 1rem !important;
}

.btnRedModal:hover {
    background-color: #c4c4c4 !important;
    color: black !important;
}

.btnDarkModal {
    background-color: #333 !important;
    color: white !important;
    font-size: 1.5rem !important;
    height: 4rem;
    margin: 1rem !important;
}

.btnDarkModal:hover {
    background-color: #c4c4c4 !important;
    color: black !important;
}

.btnRedModalSearch {
    width: 100%;
    background-color: #CA3939 !important;
    color: black;
}

.aboutLink {
    color: #CA3939;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.4rem;
    border: 1px solid #CA3939;
}

.aboutLink:hover {
    color: white;
    margin-left: 2rem;
    font-size: 1.4rem;
    border: 1px solid white;
}

