.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60% !important;
}

.form{
    width: 100%;
    padding: 1rem;
}

/*.bgDark {*/
/*    background: #333;*/
/*    border-radius: 0.25rem;*/
/*    width: 100%;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

/*.bgMid {*/
/*    background: #999;*/
/*    border-radius: 0.25rem;*/
/*    width: 25%;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

#backdrop {
    background: url("../Img/Pennies.jpg") center center/cover;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: -1;
}

.textWhite {
    color: white !important;
}

.stockLabel {
    color: white !important;
    display: block;
    padding: 0.5rem;
}

.headerText {
    color: white !important;
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
}

.btnRed {
    background-color: #CA3939 !important;
    color: black !important;
    width: 100%;
    margin-top: 1rem !important;
}

.stockBtns {
    display: flex;
    justify-content: space-between !important;
}

.btnGreenStockModal {
    background-color: #54a86a !important;
    color: black !important;
    width: 30%;
    height: 100%;
}

.btnRedStockModal {
    background-color: #CA3939 !important;
    color: black !important;
    width: 30%;
    height: 100%;
}

.stockModalInput {
    width: 30%;
    height: 100%;
}

.footer {
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     position: fixed;
     bottom: 0;
     right: 0;
     left: 0;
     background: #333;
     padding: 1rem 0;
 }

.navigation {
    background: gray;
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}



.navigation > .profileImage {
    margin: 2rem 0  2rem 1rem !important;
    padding: 1rem;
    justify-self: center;
}

.header{
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #333;
    padding: 2rem;
}

.btnRedModal {
    background-color: #CA3939 !important;
    color: black !important;
    margin: 1rem !important;
}

.btnRedModalSearch {
    width: 100%;
    background-color: #CA3939 !important;
    color: black;
}

