.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: 100%;
    padding: 1rem;
}

/*.bgDark {*/
/*    background: #333;*/
/*    border-radius: 0.25rem;*/
/*    width: 100%;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

/*.bgMid {*/
/*    background: #999;*/
/*    border-radius: 0.25rem;*/
/*    width: 25%;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

#backdrop {
    background: url("../Img/Pennies.jpg") center center/cover;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: -1;
}

.textWhite {
    color: white !important;
}

.headerText {
    color: white !important;
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
}

.btnRed {
    background-color: #CA3939 !important;
    color: black !important;
    width: 100%;
    margin-top: 1rem !important;
}

.footer {
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     position: fixed;
     bottom: 0;
     right: 0;
     left: 0;
     background: #333;
     padding: 1rem 0;
 }

.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: gray;
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
}

.navigation > .profileImage {
    margin: 2rem 0  2rem 1rem !important;
    padding: 1rem;
    justify-self: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #333;
    padding: 2rem 0;
}

.btnRedModal {
    background-color: #CA3939 !important;
    color: black !important;
    margin: 1rem !important;
}

