@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

*{
    font-family: 'ZCOOL XiaoWei', serif !important;
    font-weight: 300;
}

a.active {
    background: white !important;
    color: #CA3939 !important;
    font-weight: 400 !important;
    font-family: 'ZCOOL XiaoWei', serif !important;
}

.item {
    font-weight: 400 !important;
    font-family: 'ZCOOL XiaoWei', serif !important;
}

i.icon {
    font-family: Icons !important;
}

.item:hover {
    background: rgba(202,57,57, 1) !important;
    color: white !important;
}
