.graphCard {
    width: 95% !important;
    height: 600px !important;
    display: flex;
    margin: auto !important;
}

.chart {
    align-self: center !important;
    justify-self: center !important;
    margin: auto;
    height: 95%;
    width: 95%;
    padding: 0 !important;
    position: relative;
}

.walletCard {
    background-color: white;
    border-radius: 0.25rem;
    width: 95% !important;
    overflow-y: scroll;
    height: 300px !important;
    margin: 1rem auto 0 auto !important;
    /*max-height: 300px;*/
}

.transactionCard {
    background-color: white;
    border-radius: 0.25rem;
    width: 95% !important;
    overflow-y: scroll;
    margin: auto !important;
    max-height: 1000px;
}

.stockCard {
    background-color: white;
    border-radius: 0.25rem;
    width: 95% !important;
    height: 150px !important;
    margin: 1rem auto 0 auto !important;
    padding: 1rem;
    max-height: 150px;
}

.balanceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.25rem;
    width: 95% !important;
    height: 400px !important;
    margin: 1rem auto 0 auto !important;
    padding: 1rem;
    max-height: 400px;
}

.balanceCard > h2 {
    font-size: 3rem;
    margin: 0;
}

.balanceCard > h3 {
    font-size: 2.5rem;
    justify-self: center;
    margin: auto;
}

.balanceActions {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balanceInput {
    width: 80% !important;
    margin: 0.5rem auto !important;
}

.tempBtnRed {
    width: 80%;
    margin: 0.5rem auto !important;
    background-color: #c94747 !important;
    color: black;
}

.tempBtnGreen {
    width: 80%;
    margin: 0.5rem auto !important;
    background-color: #54a86a !important;
    color: black;
}

